Repository hooray/fantastic-startkit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

修改 eslint 校验文件范围
  .husky/lintstagedrc.js
  .husky/pre-commit
  .lintstagedrc
  package.json
Due: none

更新依赖
  package.json
  pnpm-lock.yaml
Due: none

使用 pinia 替换 vuex
  auto-import-eslint-config.js
  package.json
  plop-templates/component/index.hbs
  plop-templates/page/index.hbs
  plop-templates/store/index.hbs
  plop-templates/store/prompt.js
  pnpm-lock.yaml
  src/App.vue
  src/api/index.js
  src/main.js
  src/router/index.js
  src/store/index.js
  src/store/modules/settings.js
  src/store/modules/token.js
  vite/plugins/auto-import.js
Due: eslint --fix, stylelint --fix

使用 pinia 替换 vuex
  README.md
  auto-import-eslint-config.js
  package.json
  plop-templates/component/index.hbs
  plop-templates/page/index.hbs
  plop-templates/store/index.hbs
  plop-templates/store/prompt.js
  pnpm-lock.yaml
  src/App.vue
  src/api/index.js
  src/layout/example.vue
  src/main.js
  src/router/index.js
  src/router/modules/example.js
  src/store/index.js
  src/store/modules/example.js
  src/store/modules/settings.js
  src/store/modules/token.js
  src/views/example/permission.js.vue
  src/views/example/permission.router.vue
  src/views/example/pinia.vue
  src/views/login.vue
  vite/plugins/auto-import.js
Due: eslint --fix, stylelint --fix

更新 github actions
  .github/workflows/deploy.yml
Due: none

更新readme
  README.md
Due: none

更新 vscode 扩展安装建议
  .vscode/extensions.json
Due: none

更新 vite 插件配置
  vite/plugins/html.js
  vite/plugins/restart.js
Due: none

deploy
  docs-source/start.md
  docs/404.html
  docs/assets/js/app.5bd6407e.js
  docs/assets/js/app.9635cbde.js
  docs/assets/js/runtime~app.4d26fd2a.js
  docs/assets/js/runtime~app.a9035c01.js
  docs/assets/js/v-0451fc51.36997394.js
  docs/assets/js/v-0451fc51.62bcfc16.js
  docs/assets/js/v-3223dddc.90076f3e.js
  docs/assets/js/v-3223dddc.c1982d8a.js
  docs/assets/js/v-346d12d2.03291189.js
  docs/assets/js/v-346d12d2.66dcaa1b.js
  docs/assets/js/v-610f8b43.0946836a.js
  docs/assets/js/v-610f8b43.4a99ff33.js
  docs/assets/js/v-6f9a3970.7b1d8a78.js
  docs/assets/js/v-6f9a3970.c3fe0456.js
  docs/assets/js/v-89b9c312.80434a88.js
  docs/assets/js/v-89b9c312.ab1bd541.js
  docs/assets/js/v-8daa1a0e.18a0cdcb.js
  docs/assets/js/v-8daa1a0e.ebb8c5f2.js
  docs/assets/js/v-98281836.44a59217.js
  docs/assets/js/v-98281836.c84865ea.js
  docs/axios.html
  docs/build.html
  docs/coding-standard.html
  docs/configure.html
  docs/global-resources.html
  docs/index.html
  docs/library.html
  docs/mobile-support.html
  docs/plop.html
  docs/router.html
  docs/start.html
  docs/store.html
Due: none

更新依赖
  package.json
  pnpm-lock.yaml
  vite/plugins/svg-icon.js
Due: none

采用script、template、style的顺序优化所有sfc文件
  plop-templates/component/index.hbs
  plop-templates/page/index.hbs
  src/components/SvgIcon/index.vue
Due: eslint --fix, stylelint --fix

采用script、template、style的顺序优化所有sfc文件
  plop-templates/component/index.hbs
  plop-templates/page/index.hbs
  src/App.vue
  src/components/SvgIcon/index.vue
  src/views/example/axios.vue
  src/views/example/component.vue
  src/views/example/components/ExampleList/index.vue
  src/views/example/cookie.vue
  src/views/example/permission.js.vue
  src/views/example/permission.router.vue
  src/views/example/pinia.vue
  src/views/example/reload.vue
  src/views/login.vue
Due: eslint --fix, stylelint --fix

调整文件和路由命名
  src/layout/example.vue
  src/router/modules/example.js
  src/views/example/global-component.vue
  src/views/example/permission-js.vue
  src/views/example/permission-router.vue
Due: eslint --fix, stylelint --fix

增加基于文件系统的路由支持
  package.json
  pnpm-lock.yaml
  src/App.vue
  src/layout/.gitkeep
  src/layout/index.vue
  src/router/index.js
  src/views/[...all].vue
  src/views/index.vue
  vite/plugins/index.js
  vite/plugins/layouts.js
  vite/plugins/pages.js
Due: eslint --fix, stylelint --fix

增加基于文件系统的路由支持
  package.json
  pnpm-lock.yaml
  src/layout/index.vue
  src/router/index.js
  src/router/modules/example.js
  src/views/[...all].vue
  src/views/example/axios.vue
  src/views/example/component.vue
  src/views/example/cookie.vue
  src/views/example/global-component.vue
  src/views/example/params/[test].vue
  src/views/example/permission-js.vue
  src/views/example/permission-router.vue
  src/views/example/pinia.vue
  src/views/example/query.vue
  src/views/example/reload.vue
  src/views/example/sprite.vue
  src/views/example/svgicon.vue
  src/views/index.vue
  src/views/login.vue
  vite/plugins/index.js
  vite/plugins/layouts.js
  vite/plugins/pages.js
Due: eslint --fix, stylelint --fix

deploy
  docs-source/router.md
  docs/404.html
  docs/assets/js/app.5bd6407e.js
  docs/assets/js/app.c49b2d3d.js
  docs/assets/js/runtime~app.4d26fd2a.js
  docs/assets/js/runtime~app.967e3954.js
  docs/assets/js/v-346d12d2.03291189.js
  docs/assets/js/v-346d12d2.94db3e2f.js
  docs/assets/js/v-6f9a3970.7c971de0.js
  docs/assets/js/v-6f9a3970.c3fe0456.js
  docs/axios.html
  docs/build.html
  docs/coding-standard.html
  docs/configure.html
  docs/global-resources.html
  docs/index.html
  docs/library.html
  docs/mobile-support.html
  docs/plop.html
  docs/router.html
  docs/start.html
  docs/store.html
Due: none

修复接口请求baseURL不生效的bug
  src/api/index.js
Due: eslint --fix

调整 lint-staged 配置
  .lintstagedrc
Due: none

Path conditions:
  eslint --fix: (any of: src/**/*.{js,jsx}) or (any of: src/**/*.vue)
  stylelint --fix: (any of: src/**/*.vue) or (any of: src/**/*.{css,scss})
